{% extends "administrateur/layout/layout_admin.html.twig" %}


 {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css_admin/page_respo.css')}}" />
 {% endblock %}


{% block body %}
<main>
        <h1>INSERTION RESPONSABLE COMPTE </h1>
    <form class="container" action="/post_insert_responsable"  method="post">
            <input type="text" class="form-control" name="nom_respo"  placeholder="nom"/><br/>
            <input type="text" class="form-control" name="prenom_respo"  placeholder="prenom"/><br/>
            <input type="text" class="form-control" name="adresse"  placeholder="adresse"/><br/>
            <input type="text" class="form-control" name="telephone"  placeholder="telephone"/><br/>
            <input type="text" class="form-control" name="email"  placeholder="email"/><br/>
            <input type="text" class="form-control" name="login"  placeholder="login"/><br/>
            <input type="password" class="form-control" name="password"  placeholder="password"/><br/>

            {# the id of the agence in Hidden mode  #}
            <input type="text" name="numero_Agence" id="numeroAgence"  
            placeholder="numero Agence" value="{{app.getSession().get("id_agence")}}"
             hidden readonly/><br/>
            

           <div class="button_for_s" id="button">
        <button id="btn_create" name="btn" value="C_compte" >Valider</button> 
         <button type="reset">Annuler</button>
    </div>
    </form>
</main>
{% endblock %}