{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cni.css') }}" />
{% endblock %}


{% block body %}
    <header>
        <div class="brand">
            Banque du Peuple
        </div>
    </header>
    <main>
     <input type="text" value="Matricule : {{ app.getSession().get('matricule') }} " placeholder="" id="caissiere" readonly/>
        <a href="/logout" id="a" >Deconnexion</a><br>
        <input type="text" value="Nom Complet : {{ app.getSession().get('nomComplet') }} " placeholder="" id="nom" readonly/><br>
        <form action="/verifyMat" method="post" id="formGest">
            <label id="label"  for="">ANCIEN CLIENT</label><br/>
            <input type="text" placeholder="MATRICULE CLIENT" name="matricule" id="cni" autocomplete="off" required /> <br>
            <button id="verClient" name="btn" value="verify">Verifier</button>
        </form>
    </main> <br/><br/>
    <a class="new" id="add">NOUVEAU CLIENT</a> <br/><br/><br/><br/>
    <a class="addS" href="/clients/salarie.html" id="add">Nouveau Client Salarie </a> <br/><br/><br/><br/>
    <a class="addM" href="/clients/moral.html" id="add">Nouveau Client Moral </a> <br/><br/><br/><br/>
    <a class="addI" href="/clients/independant.html" id="add">Nouveau Client Independant </a>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/cni.js') }}" type="text/javascript"></script>
{% endblock %}