<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="shortcut icon" href="{{ asset('favicon.ico') }} " type="image/x-icon"/>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>
        <title>{% block title %}BANQUE PEUPLE{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}

    <div class="container" >
        {% if app.getSession().get("success") %}
             {{ app.getSession().get("success") }} 
        {% endif %}

        {% if app.getSession().get("success") %}
             {{ app.getSession().get("success") }} 
        {% endif %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
