{% extends "base.html.twig" %}



{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cNSalarie.css')}}" />
{% endblock %}
 

{% block body %}
<header>
    <div class="brand"> 
        <h1>BANQUE DU PEUPLE<a href="/admin/cni.html">ACCUEIL</a></h1>
    </div>
</header>
<main>
    <div class="form">
            <form action="/insertIndependant" method="post">
            <!-- form for adding Independant client -->
            <div class="Independant">
                <h2>INFORMATIONS CLIENT INDEPENDANT</h2>
                <input type="text" name="nom" placeholder="nom" id="nom_i" autocomplete="off" required/>
                <input type="text" name="prenom" placeholder="prenom" id="prenom_i" autocomplete="off" required /><br/>
                <input type="text" name="localisation" placeholder="adresse" id="adresse_i" autocomplete="off" required />
                <input type="text" name="telephone" placeholder="telephone" id="telephone_i" autocomplete="off" required /><br/>
                <input type="email" name="email" placeholder="email" id="email_i" autocomplete="off" required/>
                <input type="text" name="matricule" value="{{ matricule_inde }}" autocomplete="off" placeholder="mat_client" id="mat_client" required readonly/><br/>
                <input type="text" name="activite" placeholder="activite" id="activite_i" autocomplete="off" required /><br/>
                <input type="text" name="cni" placeholder="CNI" id="activite_i" autocomplete="off" required/><br/>
            </div>
           <button name="btn" value="Cindependant">Valider</button><button>Annuler</button>
        </form>
    </div>
</main>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/cNSalarie.js")}}" ></script>
{% endblock %}